{% extends 'registration/registration_base.html' %} {% block title
%}Réinitialisation du Mot de Passe | Système de Gestion d'Apprentissage{%
endblock title %} {% load crispy_forms_tags %} {% block content %}
<div id="login">
  <h3 class="login-title">Réinitialisation du Mot de Passe</h3>

  <form action="" method="POST" class="form-box">
    {% csrf_token %}
    <div class="container">
      <!-- {{ form|crispy }} -->
      <div class="form-group">
        <i class="fas fa-envelope"></i>Email {{ form.email }}
        <span class="danger">{{ form.email.errors }}</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">
      <small>Demander la Réinitialisation du Mot de Passe</small>
    </button>
  </form>
</div>
{% endblock content %}
