{% extends 'registration/registration_base.html' %} {% block title %}Email
Envoyé | Système de Gestion d'Apprentissage{% endblock title %} {% load
crispy_forms_tags %} {% block content %}
<div id="login">
  <h3 class="login-title">Email Envoyé</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Un email a été envoyé avec des
      instructions pour réinitialiser votre mot de passe, vérifiez votre boîte
      mail.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"
      ><i class="far fa-arrow-alt-circle-left"></i>Retour à la Connexion</a
    >
  </div>
</div>
{% endblock content %}
