<!-- Modal de Confidentialité -->
<div class="modal fade" id="privacy-policy" tabindex="-1" aria-labelledby="privacyPolicy" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="privacyPolicy">Politique de Confidentialité</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
            </div>
            <div class="modal-body">
                <p>
                    Ce qui suit est simplement un texte d'exemple pour cette boîte de dialogue modale. Il suffit d'allumer la lumière 
                    et de la laisser briller ! Viens tel que tu es vers moi. Possède simplement la nuit comme le 4 juillet. Infecte-moi avec 
                    ton amour et remplis-moi de ton poison. Viens tel que tu es vers moi. Fin du trésor au bout de l'arc-en-ciel.
                </p>
                <p>
                    Je ne peux pas dormir, fuyons et ne regardons jamais en arrière, ne regardons jamais en arrière. Je ne peux pas dormir, fuyons 
                    et ne regardons jamais en arrière, ne regardons jamais en arrière. Oui, nous faisons pleurer les anges, tombant sur terre 
                    d'en haut. Je marche dans les airs (ce soir). Laisse-moi poser mes mains sur toi dans mes jeans moulants. 
                    Piquant comme une abeille, j'ai gagné mes rayures. Je suis passé de zéro à mon propre héros. Même plus brillant que la 
                    lune, lune, lune. Fais-les aller, 'Aah, aah, aah' pendant que tu traverses le ciel-y-y ! Pourquoi ne me laisses-tu pas 
                    passer ?
                </p>
                <p>
                    Boum, boum, boum. Ne m'a jamais fait cligner des yeux une seule fois. Ouais, tu as de la chance si tu es dans son avion. 
                    Parle de notre avenir comme si nous avions une idée. Oh mon Dieu, pas d'exagération. Tu es original, tu ne peux pas être remplacé. 
                    La fille est une folle, elle conduit un jeep à Laguna Beach. Ce n'est pas un gros problème, ce n'est pas un gros problème, 
                    ce n'est pas un gros problème. Dans une autre vie, je te ferais rester. Je vais faire battre ton cœur dans mes 
                    jeans moulants. Je veux marcher sur ta longueur d'onde et être là quand tu vibres. Ne m'a jamais fait cligner des yeux une seule fois.
                </p>
                <p>
                    Nous tiendrions toutes nos promesses, nous serions contre le monde. Dans une autre vie, je serais ta fille. Nous pouvons 
                    danser jusqu'à ce que nous mourrions, toi et moi, nous serons jeunes pour toujours. Et pour mon 18ème anniversaire, nous avons 
                    eu des tatouages assortis. Alors ouvre ton cœur et laisse juste commencer. Parce qu'elle est la muse et l'artiste. 
                    Elle te dévore le cœur. Comme Jeffrey Dahmer (woo). Fais éclater ta confettis. (C'est comme ça que nous faisons) Je 
                    sais qu'une étincelle choquera le monde, ouais ouais. Si tu savais seulement ce que l'avenir réserve.
                </p>
                <p>
                    Sirotant du Rosé, soleil de Silver Lake, se levant tout paresseux. C'est dans la paume de ta main maintenant bébé. 
                    Alors nous prenons le boulevard. Fais un vœu, je ferai comme si c'était ton anniversaire tous les jours. Te sens-tu déjà 
                    enterré profondément à six pieds sous terre ? Il est temps de sortir les grands ballons. 
                    Tu aurais pu être le plus grand. Tampons de passeport, elle est cosmopolite. Ton baiser est cosmique, chaque mouvement est magique.
                </p>
                <p> 
                    Nous vivons la vie. Nous faisons bien les choses. Ouvre ton cœur. J'essayais de le faire et de partir. 
                    Son amour est comme une drogue. Laisse toujours une traînée de poussière d'étoiles. La fille est une folle, elle conduit un jeep 
                    à Laguna Beach. Bien, frais, féroce, nous avons tout verrouillé. Toutes mes filles vintage Chanel bébé.
                </p>
                <p>
                    Avant que tu ne me rencontres, j'allais bien mais les choses étaient un peu lourdes. Lèvres rose-pêche, ouais, tout le monde regarde. 
                    Ce n'est pas un gros problème. Appelant mon nom. J'aurais pu réécrire ton addiction. Elle a ça, je ne sais quoi, tu le sais. 
                    Lourd est la tête qui porte la couronne. Parce que, bébé, tu es un feu d'artifice. Comme le tonnerre va secouer le sol.
                </p>
                <p>
                    Possède simplement la nuit comme le 4 juillet ! Je vais la mettre dans un coma. Qu'est-ce que tu attends, il est temps de le montrer. 
                    Je ne peux pas te remplacer avec un million de bagues. Tu ouvres mes yeux et je suis prêt à partir, mène-moi vers la lumière. 
                    Et te voilà. Je vais la mettre dans un coma. Allez, laisse tes couleurs éclater. Alors couvre tes yeux, j'ai une surprise. 
                    Alors que je marche seul au rythme d'un battement différent. Des paillettes partout dans la pièce, des flamants roses dans la piscine.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Compris</button>
            </div>
        </div>
    </div>
</div>
