{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Page de Progression" %} | Système de gestion de l'apprentissage {% endblock %}
{% block description %} {% trans "Page de Progression de l'Utilisateur" %} {% endblock %}

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Page de Progression</li>
    </ol>
</nav>

{% if cat_scores %}

<div class="header-title text-center">{% trans "Scores par Catégorie de Questions" %}</div>
<div class="title-line"></div>

<table class="table table-bordered table-striped">

    <thead>
      <tr>
        <th>{% trans "Catégorie" %}</th>
        <th>{% trans "Réponses Correctes" %}</th>
        <th>{% trans "Incorrectes" %}</th>
        <th>%</th>
      </tr>
    </thead>

    <tbody>

      {% for cat, value in cat_scores.items %}
      <tr>
        <td>{{ cat }}</td>
        <td>{{ value.0 }}</td>
        <td>{{ value.1 }}</td>
        <td>{{ value.2 }}</td>
      </tr>
      {% endfor %}

    </tbody>

</table>

{% endif %}

{% if exams %}

<hr>

<div class="header-title-xl">{% trans "Examens Précédents" %}</div>
<p class="lead text-muted">
    {% trans "Voici les résultats des examens que vous avez passés." %}
</p>
<div class="info-text bg-danger mb-2">Total des examens complets : {{ exams_counter }}</div>
<div class="table-responsive">
    <table class="table table-bordered table-striped">

        <thead>
          <tr>
            <th>#</th>
            <th>{% trans "Titre du Quiz" %}</th>
            <th>{% trans "Score" %}</th>
            <th>{% trans "Score Possible" %}</th>
            <th>Sur 100%</th>
          </tr>
        </thead>

        <tbody>

          {% for exam in exams %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ exam.quiz.title }}</td>
            <td>{{ exam.current_score }}</td>
            <td>{{ exam.get_max_score }}</td>
            <td>{{ exam.get_percent_correct }}%</td>
          </tr>
          {% endfor %}

        </tbody>

    </table>
</div>
{% endif %}

{% if not cat_scores and not exams %}
    <div class="col-12 p-4 text-center"><h3><i class="far fa-frown"></i></h3> Aucun enregistrement pour le moment. Essayez de faire quelques quiz dans votre cours.</div> 
{% endif %}

{% endblock %}
