<!-- Modal des Conditions d'Utilisation -->
<div class="modal fade" id="term-of-service" tabindex="-1" aria-labelledby="termOfService" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termOfService">{% trans "Conditions d'Utilisation" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Fermer' %}"></button>
            </div>
            <div class="modal-body">
                <p>
                    Ce qui suit est juste un texte de substitution pour cette boîte de dialogue modale. Vous devez simplement 
                    allumer la lumière et la laisser briller ! Venez tel que vous êtes. Possédez la nuit comme le 4 juillet. 
                    Infectez-moi de votre amour et remplissez-moi de votre poison. Venez tel que vous êtes. Fin du trésor 
                    au bout de l'arc-en-ciel.
                </p>
                <p>
                    Je ne peux pas dormir, fuyons et ne regardons jamais en arrière, ne regardons jamais en arrière. 
                    Oui, nous faisons pleurer des anges, tombant sur terre d'en haut. Je marche sur l'air (ce soir). 
                    Laissez-moi mettre mes mains sur vous dans mes jeans moulants. 
                    Picotant comme une abeille, j'ai gagné mes rayures. Je suis passé de zéro à mon propre héros. 
                    Même plus brillant que la lune, lune, lune. Faites-les aller, 'Aah, aah, aah' en traversant le ciel-y-y ! 
                    Pourquoi ne me laissez-vous pas passer ?
                </p>
                <p>
                    Boom, boom, boom. Ne m'a jamais fait cligner des yeux une seule fois. Oui, vous avez de la chance 
                    si vous êtes dans son avion. Parlons de notre avenir comme si nous avions une idée. Oh mon Dieu, 
                    pas d'exagération. Vous êtes original, ne peut pas être remplacé. 
                    La fille est une folle, elle conduit un jeep à Laguna Beach. Ce n'est pas un gros problème, 
                    ce n'est pas un gros problème. Dans une autre vie, je vous ferais rester. 
                    Je vais faire battre votre cœur dans mes jeans moulants. 
                    Je veux marcher sur votre longueur d'onde et être là quand vous vibre. 
                    Ne m'a jamais fait cligner des yeux une seule fois.
                </p>
                <p>
                    Nous garderions toutes nos promesses, nous contre le monde. Dans une autre vie, je serais votre 
                    fille. Nous pouvons danser jusqu'à ce que nous mourions, vous et moi, serons jeunes pour toujours. 
                    Et pour mon 18ème anniversaire, nous avons eu des tatouages assortis. 
                    Alors ouvrez votre cœur et laissez-le commencer. Parce qu'elle est la muse et l'artiste. 
                    Elle mange votre cœur. Comme Jeffrey Dahmer (woo). Faites sauter votre confetti. 
                    (C'est comme ça que nous faisons) Je sais qu'une étincelle choquera le monde, ouais ouais. 
                    Si vous saviez seulement ce que l'avenir réserve.
                </p>
                <p>
                    Sirotant du Rosé, soleil de Silver Lake, se levant tout paresseux. C'est dans la paume de votre main 
                    maintenant bébé. Alors nous avons pris le boulevard. Faites un vœu, je ferai comme si c'était 
                    votre anniversaire tous les jours. Vous sentez-vous déjà enterré profondément six pieds sous terre ? 
                    Il est temps de sortir les grands ballons. 
                    Vous auriez pu être le meilleur. Tampons de passeport, elle est cosmopolite. 
                    Votre baiser est cosmique, chaque mouvement est magique.
                </p>
                <p> 
                    Nous vivons la vie. Nous le faisons bien. Ouvrez votre cœur. J'essayais de l'attraper et de m'en aller. 
                    Son amour est comme une drogue. Laisse toujours une traînée de poussière d'étoiles. 
                    La fille est une folle, elle conduit un jeep à Laguna Beach. 
                    Fine, fraîche, féroce, nous avons tout verrouillé. Toutes mes filles vintage Chanel bébé.
                </p>
                <p>
                    Avant que vous ne me rencontriez, j'allais bien mais les choses étaient un peu lourdes. 
                    Lèvres pêche-rosées, ouais, tout le monde regarde. Ce n'est pas un gros problème. 
                    Appelant mon nom. J'aurais pu réécrire votre addiction. 
                    Elle a ce, je ne sais quoi, vous le savez. 
                    Lourd est la tête qui porte la couronne. Parce que, bébé, vous êtes un feu d'artifice. 
                    Comme le tonnerre va secouer le sol.
                </p>
                <p>
                    Possédez la nuit comme le 4 juillet ! Je vais la mettre dans un coma. Qu'attendez-vous, il est 
                    temps de le montrer. Je ne peux pas vous remplacer avec un million de bagues. 
                    Vous ouvrez mes yeux et je suis prêt à partir, guidez-moi vers la lumière. 
                    Et vous voilà. Je vais la mettre dans un coma. Allez, laissez vos couleurs éclater. 
                    Alors couvrez vos yeux, j'ai une surprise. Alors que je marche seul au rythme d'un autre battement. 
                    Des paillettes partout dans la pièce, des flamants roses dans la piscine.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans "Compris" %}</button>
            </div>
        </div>
    </div>
</div>
