{% extends 'base.html' %}
{% block title %}{{ title }} | Système de gestion de l'apprentissage{% endblock title %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}  <!-- Assurez-vous de charger le module de traduction -->

{% block content %}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Panneau d'Administration" %}</li>
    </ol>
</nav>  

<div class="title-1"><i class="fas fa-user-tie"></i>{% trans "Panneau d'Administration" %}</div>
<br>
<br>
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                <i class="fas fa-exclamation-circle"></i>{{ message }}
            </div>
        {% else %}
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i>{{ message }}
            </div>
        {% endif %}
    {% endfor %}
{% endif %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans "Gérer" %}<a class="link" href="{% url 'lecturer_list' %}"> {% trans "Enseignants" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) enseignants" %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'student_list' %}"> {% trans "Étudiants" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) étudiants" %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'session_list' %}"> {% trans "Sessions" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) sessions" %}</p>
            </div>

            <div class="mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'semester_list' %}"> {% trans "Semestres" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) semestres" %}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="border-bottom">
                {% trans "Ajout &amp; Retrait de Cours" %}
                <label class="switch switch-text switch-success switch-pill" style="float: right;">
                <input type="checkbox" class="switch-input" checked="true">
                <span data-on="{% trans 'On' %}" data-off="{% trans 'Off' %}" class="switch-label"></span>
                <span class="switch-handle"></span>
                </label>
                <p class="text-muted">{% trans "Basculer" %} 
                    <i class="info-text py-0 px-2 bg-success text-light">{% trans 'ON' %}</i> ou <i class="info-text py-0 px-2 bg-danger text-light">{% trans 'OFF' %}</i>
                </p>
            </div>

            <div class="border-bottom mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'programs' %}"> {% trans "Programmes &amp; Cours" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) programmes" %}</p>
            </div>

            <div class="border-bottom mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'course_allocation_view' %}"> {% trans "Allocations de Cours" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) allocations de cours" %}</p>
            </div>

            <div class="mt-3">
                {% trans "Gérer" %}<a class="link" href="{% url 'home' %}"> {% trans "Actualités &amp; Événements" %} &raquo;</a>
                <p class="text-muted">{% trans "CRUD (Créer, Lire, Mettre à jour &amp; Supprimer) actualités &amp; événements" %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
